.checkOut_products{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .checkOut_products_info{
     padding: 20px;
  }
  
  .checkOut_products_img{
      width: 180px;
      object-fit: contain;
      height:180px;
  }
  .checkOut_products_info> button{
      background-color: #f0c14b;
      border: 1px solid;
      margin-top: 10px;
      border-color: #a88734 #9c7e31 #846a29;
      color: #111;
  }
  .checkOut_products_rating{
      display: flex;
  }
  .checkOut_products_title{
      font-size: 17px;
      font-weight: 800;
  }